<div class="col">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Wallet</a>
    <img src="../../assets/img/Wallet.png" style="width:50px; height:40px;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info my-2 my-sm-0" (click)="Logout();">Cerrar Sesión</button>
      </form>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col-3">
    <h3>Opciones</h3>
    <br>
    <div class="list-group">
      <a id="opciones" class="list-group-item list-group-item-action" routerLink="/Cuenta/{{id}}">
        <h3>Cuenta</h3>
      </a>
    </div>
  </div>

  <div class="col-8">
    <div>
      <h1 id="ncuenta">Reporte de ingresos cuenta en Efectivo</h1>
    </div>
    <div class="table">
      <thead class="thead-dark">
        <tr>
          <th>Descripción</th>
          <th>Fecha</th>
          <th>Monto Actual</th>
          <th>Monto Ingresado</th>
          <th>Nuevo Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let ingreso of ingresos">
          <td>{{ingreso.Descripcion}}</td>
          <td>{{ingreso.Fecha | date:'dd/MM/yyyy'}}</td>
          <td>L.{{ingreso.MontoActual}}</td>
          <td>L.{{ingreso.Monto}}</td>
          <td>L.{{ingreso.MontoActual+ingreso.Monto}}</td>
        </tr>
      </tbody>
    </div>
  </div>
</div>