.list-group-item{
    margin-top: 5%;
    width: 100%;
    height: 25%;
    background-color: azure;
    color: grey;
}

.list-group-item:hover{
    background-color: lightblue;
}

#mas{
    width:70px; 
    height:70px;
}

#btnmas{
    width:95px; 
    height:80px;
    border: none;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.row{
    margin-left: 20px;
}

#EtiquetaCuentas{
    margin-left: 50px;
}

#Etiquetas{
    margin-top: 3%;
}