<div class="col">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Wallet</a>
    <img src="../../assets/img/Wallet.png" style="width:50px; height:40px;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info my-2 my-sm-0"(click)="Logout();">Cerrar Sesión</button>
      </form>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col-3">
    <h3>Opciones</h3>
    <br>
    <div class="list-group">
      <a id="opciones" class="list-group-item list-group-item-action" routerLink="/Home">
        <h3>Menú Principal</h3>
      </a>
    </div>
  </div>

  <div class="col-3">
    <button id="CuentaTitulo" type="button" class="list-group-item list-group-item-action active" disabled>
      <h4>Seleccione una de sus cuentas</h4>
    </button>
    <div id="CuentaName" class="list-group" *ngFor="let cuenta of cuentas">
      <button id={{cuenta.CuentaId}} type="button" class="list-group-item list-group-item-action"
        (click)="onClick(cuenta);">{{cuenta.Nombre}}</button>
    </div>
  </div>

  <div class="col-4">
    <div *ngIf="messages" class="alert alert-danger" id="message">
        <li>{{messages}}</li>
    </div>
    <div>
      <h5>Descripción del ingreso</h5>
      <textarea id="Descripcion" [(ngModel)]="Descripcion" type="text" class="form-control"></textarea>
      <br>
      <h5>Monto de su cuenta actual</h5>
      <input id="MontoActual" [(ngModel)]="MontoActual" type="text" class="form-control"
        value={{cuentaSeleccionada?.Monto}} disabled>
      <br>
      <h5>Fecha que se efectua el ingreso</h5>
      <input type="text" class="form-control" value="02/06/2019" disabled>
      <br>
      <h5>Monto que ingresara a esta cuenta</h5>
      <input id="Monto" [(ngModel)]="Monto" class="form-control" type="number">
      <br>
      <button id="btn" type="submit" class="btn btn-success" (click)="botonSave();">
        <h4>Guardar</h4>
      </button>
      <button id="btn1" type="submit" class="btn btn-danger">
        <h4>Cancelar</h4>
      </button>
    </div>
  </div>