<div class="col">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Wallet</a>
      <img src="../../assets/img/Wallet.png" style="width:50px; height:40px;">
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Cerrar Sesión</button>
        </form>
      </div>
    </nav>
  </div>
  
  <div class="row">
    <div class="col-3">
      <h3>Opciones</h3>
      <br>
      <div class="list-group">
        <a id="opciones" class="list-group-item list-group-item-action" href="#list-item-1">
          <h3>Menú Principal</h3>
        </a>
      </div>
    </div>
  
    <div class="col-8">
      <div>
        <h1 id="ncuenta">Reporte de egresos cuenta en Efectivo</h1>
      </div>
      <div class="table table-dark">
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Monto Actual</th>
            <th>Monto egresado</th>
            <th>Nuevo Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Primer egreso a la cuenta</td>
            <td>02/06/2019</td>
            <td>L.1000.0</td>
            <td>L.500</td>
            <td>L.500</td>
          </tr>
          <tr>
            <td>Gasto semanla a la cuenta de efectivo, es lo que saco del cajero y con lo que pasare la semana.</td>
            <td>02/06/2019</td>
            <td>L.500.0</td>
            <td>L.500.0</td>
            <td>L.0.0</td>
          </tr>
        </tbody>
      </div>
    </div>
  </div>