<div class="col">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Wallet</a>
      <img src="../../assets/img/Wallet.png" style="width:50px; height:40px;">
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-info my-2 my-sm-0" (click)="Login();">Cerrar Sesión</button>
        </form>
      </div>
    </nav>
  </div>
  
  <div class="row">
    <div class="col-3">
      <h3>Opciones</h3>
      <br>
      <div class="list-group">
        <a id="opciones" class="list-group-item list-group-item-action" routerLink="/Cuenta/{{id}}">
          <h3>Cuenta</h3>
        </a>
      </div>
    </div>
  
    <div class="col-8">
      <div>
        <h1 id="ncuenta">Reporte de egresos cuenta en Efectivo</h1>
      </div>
      <div class="table">
        <thead class="table-dark">
          <tr>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Monto Actual</th>
            <th>Monto egresado</th>
            <th>Nuevo Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let egreso of egresos">
            <td>{{egreso.Descripcion}}</td>
            <td>{{egreso.Fecha | date:'dd/MM/yyyy'}}</td>
            <td>L.{{egreso.MontoActual}}</td>
            <td>L.{{egreso.Monto}}</td>
            <td>L.{{egreso.MontoActual-egreso.Monto}}</td>
          </tr>
        </tbody>
      </div>
    </div>
  </div>