<div class="col">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Wallet</a>
    <img src="../../assets/img/Wallet.png" style="width:50px; height:40px;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info my-2 my-sm-0" (click)="Logout();">Cerrar Sesión</button>
      </form>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col-3">
    <h3>Opciones</h3>
    <br>
    <div class="list-group">
      <a id="opciones" class="list-group-item list-group-item-action" routerLink="/Cuenta/{{id}}"> 
        <h3>Cuenta</h3>
      </a>
    </div>
  </div>

  <div class="col-8">
    <div>
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>