<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Wallet</a>
  <img src="../../assets/img/Wallet.png" style="width:50px; height:40px;">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit" routerLink="/Registrar">Registrarse</button>
    </form>
  </div>
</nav>

<div class="container">
  <div *ngIf="messages" class="alert alert-danger" id="message">

    <label>{{messages}}</label>

  </div>
  <form (ngSubmit)="Login(loginForm);" #loginForm="ngForm" class="px-4 py-5">
    <div class="form-group">
      <label for="exampleDropdownFormEmail1">Email</label>
      <input name="Username" [(ngModel)]="user.Username" type="email" class="form-control"
        id="exampleDropdownFormEmail1" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Contraseña</label>
      <input name="Password" [(ngModel)]="user.Password" type="password" class="form-control"
        id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-outline-info">Iniciar Sesión</button>
  </form>
  <div class="dropdown-divider"></div>
</div>